@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #1a1a1a; /* Dark background */
  color: #e0e0e0; /* Light gray text */
  display: flex; /* Make body a flex container */
}
.bg-dark {
  background-color: #2a2a2a; /* Darker gray for cards */
}
.hover\:bg-dark:hover {
  background-color: #333; /* Slightly lighter on hover */
}
.text-primary {
  color: #bb86fc; /* Purple */
}
.text-secondary {
  color: #03dac6; /* Teal */
}
.text-warning {
  color: #ffc107; /* Amber */
}
.text-info {
  color: #17a2b8; /* Info blue */
}
.sidebar {
  width: 4rem; /* Largura inicial colapsada */
  transition: width 0.3s ease; /* Transição suave */
  border-radius: 2rem; /* Borda arredondada completa */
  overflow: hidden; /* Esconder o conteúdo que vai além dos limites */
  position: relative;
}

.sidebar:hover {
  width: 11rem; /* Largura quando expandida */
}

.logo {
  position: absolute;
  top: 1rem; /* Mantém a logo sempre no topo */
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #6b46c1; /* Ajuste da cor */
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a span {
  transition: opacity 0.3s ease-in-out; /* Transição suave */
}

nav a:hover span {
  opacity: 1; /* Mostra o texto no hover */
}

.starry-sky {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Faz com que o fundo de estrelas fique atrás do conteúdo */
  background-color: #000; /* Fundo preto */
  overflow: hidden;
}

.stars {
  width: 1px; /* Estrelas menores */
  height: 1px;
  background: transparent;
  box-shadow: 20px 30px white, 40px 80px white, 60px 120px white,
    80px 160px white, 100px 200px white, 200px 100px white, 300px 150px white,
    400px 250px white, 500px 300px white, 600px 350px white, 700px 100px white,
    800px 200px white, 900px 250px white, 1000px 300px white, 1100px 400px white;
  animation: twinkling 2s infinite ease-in-out;
}

@keyframes twinkling {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
